body {
    background-color: lightgray;
}

.grid {
  display: grid;
  justify-content: space-between;
}

#controls {
    grid-column-start: 1;
    width: 50vw;
}

#sketch-holder {
    grid-column-start: 2;
    width: 50vw;
}
