body {
    background-color: lightgray;
}

.MainGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  justify-content: space-between;
}

#controls {
    grid-column: 1 ;
    grid-row: 1 / 2;
}

#sketch-holder {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#comments {
    grid-column: 1 / 5;
    grid-row: 3;
}

.PlotGrid {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  justify-content: space-between;
}

#time-plot {
    grid-column: 1;
    grid-row: 1;
}
#parametric-plot {
    grid-column: 2;
    grid-row: 1;
}
#gibbs-plot {
    grid-column: 1;
    grid-row: 2;
}
